<% var data = {

  title: 'Energelica',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container container--sm flex flex-column justify-center relative bg-grey overflow-hidden">
  <div class="main__bg bg-block">
    <div class="pack pack--rect bg-grey h-100">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/group.webp" type="image/webp">
        <img class="main__image image" src="img/pictures/group.jpg" alt="">
      </picture>
    </div>
  </div>
  <div class="flex flex-column align-start relative">
    <div class="text-14 text-md-20 text-lg-26 mb-4 mb-md-6" data-movement="blend">
      <h1 class="font-alt bold-6 lh-2 zoom-2">Создаем мероприятия, <br class="d-none d-md-block"> заряженные энергией <br class="d-none d-md-block">и смыслом</h1>
    </div>
    <h3 class="main__subtitle relative text-22 text-md-26 text-lg-32 bold-4 lh-5" data-movement="blend">6 лет организуем яркие события</h3>
    <h3 class="main__subtitle relative text-22 text-md-26 text-lg-32 bold-4 lh-5 mb-10" data-movement="blend">на Черноморском побережье</h3>
    <div class="flex pt-lg-10">
      <button class="btn btn--white btn--lg btn--fill btn--glow color-black px-md-10" data-waved="dark">Рассчитать мероприятие</button>
    </div>
  </div>
</main>

<!-- Галлерея -->

<% var gallery = [
  {
    item: 'col-12 col-md-6 row-2',
    pack: 'rect',
    img: '1'
  },
  {
    item: 'col-6 col-md-3 row-1',
    pack: 'box',
    img: '2'
  },
  {
    item: 'col-6 col-md-3 row-2',
    pack: 'photo',
    img: '3'
  },
  {
    item: 'col-6 col-md-3 row-1',
    pack: 'box',
    img: '4'
  }
] %>

<section class="gallery container p-md-10">
  <div class="grid gap-4 gap-md-7">
    <% for (var i = 0; i < gallery.length; i++) { %>
      <div class="<%= gallery[i].item %>">
        <a class="pack pack--<%= gallery[i].pack %> bg-grey h-100" data-movement="light" data-fancybox href="img/pictures/gallery-<%= gallery[i].img %>.jpg">
          <div class="loader">
            <span class="loader-progress">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#loader">
              </svg>
            </span>
          </div>
          <picture>
            <source srcset="img/pictures/gallery-<%= gallery[i].img %>.webp" type="image/webp">
            <img class="image image--rise" src="img/pictures/gallery-<%= gallery[i].img %>.jpg" alt="">
          </picture>
        </a>
      </div>
    <% } %>
  </div>
</section>

<!-- Результат -->

<% var result = [
  {
    number: '6',
    text: 'Лет в event-индустрии'
  },
  {
    number: '140',
    text: 'Корпоративных проектов'
  },
  {
    number: '90',
    text: 'Бизнес-событий'
  },
  {
    number: '150',
    text: 'Частных мероприятий'
  }
] %>

<section class="result container" data-section>
  <div class="grid gap-4 gap-md-2 gap-lg-5">
    <% for (var i = 0; i < result.length; i++) { %>
      <div class="col-6 col-md-3">
        <div class="flex flex-column" data-movement="blend">
          <div class="text-24 text-md-36 text-lg-48 mb-6">
            <h3 class="font-alt text-center bold-5 zoom-2" data-number="<%= result[i].number %>" data-number-step="1" data-number-time="2"><%= result[i].number %></h3>
          </div>
          <p class="text-center text-md-16 text-lg-26 bold-4 lh-3"><%= result[i].text %></p>
        </div>
      </div>
    <% } %>
  </div>
</section>

<!-- О нас -->

<section class="about container container--sm relative overflow-hidden py-md-8">
  <div class="about__bg bg-block px-md-10">
    <div class="about__pack pack pack--rect bg-grey w-100 h-md-100" data-movement="light">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/about-bg.webp" type="image/webp">
        <img class="image image--rise" src="img/pictures/about-bg.jpg" alt="">
      </picture>
    </div>
  </div>
  <div class="about__content relative zi-1 bg-primary overflow-hidden w-100 py-6 px-4 py-md-8 px-md-8 ml-auto">
    <div class="about__blur blur"></div>
    <div class="flex flex-column align-center justify-center relative">
      <h3 class="font-alt text-center text-18 text-md-20 text-lg-22 bold-5 fade-20 mb-4" data-movement="blend">Мы - Energelika®️</h3>
      <div class="text-14 text-md-20 text-lg-26 mb-5 mb-md-8" data-movement="blend">
        <h2 class="font-alt text-center bold-6 lh-2 zoom-2">Создаем дизайн эмоций для компаний, личностей, территорий</h2>
      </div>
      <p class="font-alt text-center text-16 text-md-20 text-lg-22 bold-5 lh-4 fade-80 mb-10" data-movement="blend">
        Решаем ваши задачи и передаем <br>
        глубокие  смыслы через мероприятия, <br>шоу, видео, дизайн, творчество
      </p>
      <div class="pt-lg-10">
        <button class="btn btn--white btn--lg btn--contur btn--swipe" data-waved="dark">узнать больше</button>
      </div>
    </div>
  </div>
</section>

<!-- Услуги -->

<section class="services container px-md-10">
  <div class="text-center text-14 text-md-20 text-lg-26 mb-5 mb-md-10">
    <h2 class="font-alt bold-6 lh-4 zoom-2">ЧТО МЫ ДЕЛАЕМ?</h2>
  </div>
  <div class="services-slider relative">
    <div class="swiper swiper--overwrap">
      <div class="swiper-wrapper">
        <div class="swiper-slide h-auto">
          <div class="card card--active" data-waved="light">
            <div class="pack pack--rect bg-grey" data-movement="light">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/about-bg.webp" type="image/webp">
                <img class="image image--rise" src="img/pictures/about-bg.jpg" alt="">
              </picture>
            </div>
            <div class="card-content p-8">
              <div class="px-7 mb-10">
                <h4 class="font-alt text-24 text-md-28 text-lg-32 bold-6 lh-2 mb-5">Ивент</h4>
                <ul class="listing gap-3 fade-60">
                  <li>Бизнес мероприятия</li>
                  <li>Корпоративы</li>
                  <li>Частные торжества</li>
                  <li>Собственные проекты</li>
                </ul>
              </div>
              <button class="btn btn--white btn--lg btn--contur btn--swipe w-100">Смотреть проекты</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= require('./includes/footer.html').default %>