<% var data = {

  title: 'Energelica',
  status: true

}; %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container container--sm flex flex-column justify-center relative overflow-hidden" data-theme="light">
  <div class="bg-block">
    <div class="pack pack--rect bg-primary h-100">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/main-bg.webp" type="image/webp">
        <img class="image" src="img/pictures/main-bg.jpg" loading="lazy" alt="" data-speed="0.8">
      </picture>
    </div>
  </div>
  <div class="main__blur blur color-second"></div>
  <div class="flex flex-column align-start relative color-white">
    <div class="main__title text-16 text-md-22 text-lg-28 text-uppercase mb-2 p-2">
      <h1 class="font-alt bold-6 lh-2 zoom-2" data-lag="0.3">Организуем</h1>
    </div>
    <div class="main__title text-16 text-md-22 text-lg-28 text-uppercase mb-6 p-2">
      <h1 class="font-alt bold-6 lh-2 zoom-2" data-lag="0.3">эффективные <br> тимбилдинги</h1>
    </div>
    <div data-lag="0.2">
      <h3 class="main__subtitle font-alt text-22 text-md-28 text-lg-36 bold-5 lh-2 mb-5 mb-md-10">на Черноморском <br> Побережье</h3>
    </div>
    <div class="main__btn flex pt-lg-10" data-lag="0.1">
      <button class="btn btn--white btn--lg btn--fill btn--glow color-black px-md-10" data-waved="dark" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-quiz.html">Рассчитать мероприятие</button>
    </div>
  </div>
</main>

<!-- Результат -->

<% var result = [
  {
    item: '',
    img: '1',
    text: '<span class="bold-6">200+ реализованных</span> <br class="d-none d-md-block"> тимбилдингов'
  },
  {
    item: 'delay-lg-2',
    img: '2',
    text: '<span class="bold-6">Свое оборудование</span> <br class="d-none d-md-block"> и сценарии программ'
  },
  {
    item: 'delay-lg-4',
    img: '3',
    text: '<span class="bold-6">Организация</span> мероприятия <br class="d-none d-md-block"> <span class="bold-6">под ключ</span> - от идеи <br class="d-none d-md-block"> до воплощения'
  },
  {
    item: 'delay-lg-6',
    img: '4',
    text: '<span class="bold-6">Концепция и подбор</span> <br class="d-none d-md-block"> площадок бесплатно'
  }
]; %>

<section class="result container">
  <div class="grid gap-4 gap-md-7">
    <% for (var i = 0; i < result.length; i++) { %>
      <div class="col-6 col-lg-3 <%= result[i].item %> ease-in-out anim anim--up" data-anim="hidden">
        <div class="flex flex-column align-center justify-center">
          <div class="text-30 text-md-40 text-lg-50 mb-5 mb-md-8">
            <img class="icon zoom-2" src="img/pictures/result-<%= result[i].img %>.svg" alt="">
          </div>
          <p class="text-center text-14 text-md-18 txt-lg-22 bold-5 lh-2"><%= result[i].text %></p>
        </div>
      </div>
    <% } %>
  </div>
</section>

<!-- Каталог -->

<% var catalog = [
  {
    img: '1',
    title: 'Активные программы',
    ul: ['Активно-спортивные', 'Экстримальные', 'Скоростные', 'Морские', 'Семейные и детские']
  },
  {
    img: '2',
    title: 'Творческие программы и мастер-классы',
    ul: ['Творческие', 'Музыкально-танцевальные', 'Изобретательные', 'Кулинарные']
  },
  {
    img: '3',
    title: 'Игры. Квесты',
    ul: ['Логические', 'Развлекательные', 'Финансовые', 'Тематические', 'Активные/Застольные']
  },
  {
    img: '4',
    title: 'Трансформационные программы',
    ul: ['Тренинги и стратегические сессии', 'Иммерсивные шоу-тренинги', 'Ретриты, йога туры, медитации', 'Трансформационные игры, квесты', 'Мастер-классы']
  },
  {
    img: '5',
    title: 'Тематические вечеринки и шоу-программы',
    ul: ['Тематические вечеринки', 'Шоу-программы']
  },
  {
    img: '6',
    title: 'Туры и экскурсии',
    ul: ['Винно-гастрономические туры', 'Экскурсии', 'Пикниковые программы']
  }
]; %>

<section class="catalog container overflow-hidden px-lg-10">
  <div class="text-center text-uppercase text-16 text-md-22 text-lg-28 mb-4 ease-in duration-7 anim anim--up" data-anim="hidden">
    <h2 class="font-alt bold-6 lh-4 zoom-2"><span class="font-alt color-blue">Каталог</span> тимбилдингов</h2>
  </div>
  <h3 class="text-center text-16 text-md-20 text-lg-24 bold-3 lh-2 mb-10 ease-in-out duration-5 anim anim--up" data-anim="hidden">
    <span class="bold-5">У нас есть более 70 готовых программ </span>для вашего события. Но мы также можем разработать <br class="d-none d-lg-block">
    индивидуальную программу под тематику и цели вашего мероприятия
  </h3>
  <div class="grid gap-4 gap-md-6 gap-lg-10">
    <% for (var i = 0; i < catalog.length; i++) { %>
      <div class="catalog__item col-12 col-lg-6">
        <div class="card py-4 px-4 px-md-0 h-100">
          <div class="bg-block pr-md-8">
            <div class="pack pack--rect bg-grey h-100" data-movement="light">
              <div class="loader">
                <span class="loader-progress">
                  <svg class="loader-icon icon">
                    <use xlink:href="img/icons.svg#loader">
                  </svg>
                </span>
              </div>
              <picture>
                <source srcset="img/pictures/catalog-<%= catalog[i].img %>.webp" type="image/webp">
                <img class="image image--rise" src="img/pictures/catalog-<%= catalog[i].img %>.jpg" loading="lazy" alt="">
              </picture>
            </div>
          </div>
          <div class="catalog__content card-content relative color-grey bg-white border w-100 ml-auto py-7 py-md-10 px-4 px-md-6" data-waved="dark">
            <div class="flex flex-column color-black pt-md-5">
              <h4 class="font-alt text-20 text-md-24 text-lg-28 bold-7 lh-2 mb-4 mb-md-6"><%= catalog[i].title %></h4>
              <ul class="listing gap-3 text-16 text-md-20 text-lg-22 bold-4 fade-80">
                <% for (var j = 0; j < catalog[i].ul.length; j++) { %>
                  <li><%= catalog[i].ul[j] %></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</section>

<!-- О нас -->

<section class="about container relative bg-grey overflow-hidden py-md-10 mb-md-10">
  <div class="about__bg bg-block d-none d-md-block fade-60 w-lg-100 mx-auto">
    <div class="pack w-50 h-100">
      <picture>
        <source srcset="img/pictures/firework.webp" type="image/webp">
        <img class="about__image about__image--1 image" src="img/pictures/firework.png" alt="">
      </picture>
    </div>
  </div>
  <div class="about__bg bg-block px-md-10 w-lg-100 mx-auto">
    <div class="about__pack pack bg-primary w-100 ml-auto">
      <picture>
        <source srcset="img/pictures/firework.webp" type="image/webp">
        <img class="about__image about__image--2 image" src="img/pictures/firework.png" alt="">
      </picture>
    </div>
  </div>
  <div class="about__content relative zi-1 bg-white overflow-hidden w-100 py-6 px-3 py-md-8 px-md-8 ml-auto">
    <h2 class="font-alt text-28 text-md-38 text-lg-42 bold-6 lh-2 mb-5 mb-md-8">
      Получите готовую презентацию <span class="font-alt color-blue">лучших программ</span> на ваше мероприятие
    </h2>
    <p class="text-16 text-md-20 text-lg-22 bold-4 lh-2 fade-60 mb-5 mb-md-8">Оставьте заявку/ответьте на 5 вопросов и получите:</p>
    <div class="flex flex-column gap-3 gap-md-5 mb-10">
      <div class="flex">
        <img class="icon text-20 mt-1 mr-3" src="img/pictures/check.svg" alt="">
        <p class="text-16 text-md-20 text-lg-22 bold-4 lh-2">Презентацию готовых программ под задачи и формат вашего мероприятия</p>
      </div>
      <div class="flex">
        <img class="icon text-20 mt-1 mr-3" src="img/pictures/check.svg" alt="">
        <p class="text-16 text-md-20 text-lg-22 bold-4 lh-2">Предварительный бюджет на организацию</p>
      </div>
    </div>
    <button class="btn btn--primary btn--lg btn--fill px-10" data-waved="light">заполнить бриф</button>
  </div>
  <div class="about__doc d-none d-lg-block absolute zi-2 pointer-none w-50 h-100">
    <div class="pack w-100 h-100">
      <picture>
        <source srcset="img/pictures/doc.webp" type="image/webp">
        <img class="image image--sd image--bl" src="img/pictures/doc.png" alt="">
      </picture>
    </div>
  </div>
</section>

<!-- Подход -->

<section class="approach container relative overflow-hidden py-md-10">
  <div class="approach__bg bg-block w-100 px-md-10 w-lg-100 mx-auto">
    <div class="approach__pack pack pack--rect bg-grey w-100 h-md-100 ml-auto" data-movement="light">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/approach-bg.webp" type="image/webp">
        <img class="image image--rise" src="img/pictures/approach-bg.jpg" alt="">
      </picture>
    </div>
  </div>
  <div class="approach__content relative zi-1 bg-white w-100 py-6 px-3 py-md-8 px-md-8">
    <div class="text-uppercase text-16 text-md-22 text-lg-28 mb-4">
      <h2 class="font-alt bold-6 lh-4 zoom-2">О <span class="font-alt color-blue">нашем</span> подходе</h2>
    </div>
    <p class="text-16 text-md-20 text-lg-22 bold-5 lh-2 fade-60 mb-5 mb-md-10">
      Мы не создаем мероприятия, мы создаём эмоции, <br class="d-none d-md-block">
      решающие ваши конкретные задачи.
    </p>
    <p class="text-16 text-md-20 text-lg-22 bold-4 fade-80 lh-2 mb-5">
      С 2018 г. мы развиваем, сплочаем и развлекаем компании <br>
      Миссия агентства – в развлекательном формате тимбилдинга передать глубокие смыслы и ценности и выполнить поставленные задачи: обучение, сплочение, развитие, мотивация.
    </p>
    <p class="text-16 text-md-20 text-lg-22 bold-4 fade-80 lh-2 mb-5 mb-md-10">
      Для нас это не работа, это наша страсть. Поэтому мы постоянно совершенствуем качество и разнообразие своих программ для того, чтобы вы всегда оставались довольны.
    </p>
    <p class="text-16 text-md-20 text-lg-22 bold-6 lh-2 fade-80">
      Мероприятия с высоким сервисом, индивидуальный подход к каждому клиенту, креативные решения – то, что мы умеем делать превосходно.
    </p>
  </div>
</section>

<!-- Галлерея -->

<% var gallery = [
  {
    item: 'col-12 col-md-6 row-2 anim--right',
    pack: 'rect',
    img: '1'
  },
  {
    item: 'col-6 col-md-3 row-1 anim--down',
    pack: 'box',
    img: '2'
  },
  {
    item: 'col-6 col-md-3 row-2 anim--up',
    pack: 'photo',
    img: '3'
  },
  {
    item: 'col-6 col-md-3 row-1 anim--left',
    pack: 'box',
    img: '4'
  }
]; %>

<section class="gallery container overflow-hidden px-md-10">
  <div class="text-center text-uppercase text-16 text-md-22 text-lg-28 mb-5 mb-md-10 ease-in duration-7 anim anim--up" data-anim="hidden">
    <h2 class="font-alt bold-6 lh-4 zoom-2"><span class="font-alt color-blue">Наши</span> проекты</h2>
  </div>
  <div class="grid gap-4 gap-md-7 mb-10">
    <% for (var i = 0; i < gallery.length; i++) { %>
    <div class="<%= gallery[i].item %> ease-out duration-7 delay-md-1 anim" data-anim="hidden">
      <div class="pack pack--<%= gallery[i].pack %> bg-grey h-100" data-movement="light">
        <div class="loader">
          <span class="loader-progress">
            <svg class="loader-icon icon">
              <use xlink:href="img/icons.svg#loader">
            </svg>
          </span>
        </div>
        <picture>
          <source srcset="img/pictures/gallery-<%= gallery[i].img %>.webp" type="image/webp">
          <img class="image image--rise" src="img/pictures/gallery-<%= gallery[i].img %>.jpg" alt="">
        </picture>
      </div>
    </div>
    <% } %>
  </div>
  <div class="pt-lg-5 ease-in duration-7 anim anim--up" data-anim="hidden">
    <button class="btn btn--black btn--lg btn--contur btn--swipe px-10 mx-auto" data-waved="light">показать больше</button>
  </div>
</section>

<!-- Стоимость -->

<section class="price container relative bg-grey overflow-hidden">
  <div class="price__bg bg-block d-none d-md-block w-lg-100 mx-auto">
    <div class="price__pack price__pack--1 pack pack--box absolute w-100 linear duration-5 anim anim--increase" data-anim="hidden">
      <picture>
        <source srcset="img/pictures/firework.webp" type="image/webp">
        <img class="image" src="img/pictures/firework.png" alt="">
      </picture>
    </div>
    <div class="price__pack price__pack--2 pack pack--box absolute w-100 linear duration-5 anim anim--increase" data-anim="hidden">
      <picture>
        <source srcset="img/pictures/firework.webp" type="image/webp">
        <img class="image" src="img/pictures/firework.png" alt="">
      </picture>
    </div>
  </div>
  <div class="relative">
    <div class="text-center text-uppercase text-16 text-md-22 text-lg-28 mb-5 mb-md-10 ease-in duration-7 anim anim--up" data-anim="hidden">
      <h2 class="font-alt bold-6 lh-4 zoom-2"><span class="font-alt color-blue">Стоимость</span> тимбилдинга в 2023</h2>
    </div>
    <div class="price__block flex align-center justify-between gap-5 gap-lg-10 bg-white p-2 p-md-4 ease-in duration-7 anim anim--left" data-anim="hidden">
      <div class="price__info w-100 pl-2 pr-2 pl-md-5 pr-md-0">
        <div class="flex flex-column gap-5 color-grey border-bottom pb-4 mb-4 pb-md-7 mb-md-7">
          <div class="flex color-black">
            <img class="icon text-20 mt-1 mr-3" src="img/pictures/check.svg" alt="">
            <p class="text-18 text-md-20 text-lg-22 bold-4 lh-4">Стоимость проведения зависит от количества человек и выбранной программы.</p>
          </div>
          <div class="flex color-black">
            <img class="icon text-20 mt-1 mr-3" src="img/pictures/check.svg" alt="">
            <p class="text-18 text-md-20 text-lg-22 bold-4 lh-4">В этой таблице ориентировочная стоимость, точную цену уточняйте у нас.</p>
          </div>
        </div>
        <p class="text-18 text-md-20 text-lg-22 bold-4 lh-4 mb-7 mb-md-10">
          Минимальная стоимость тимбилдинга <br class="d-md-none"> <span class="bold-6">40 000 ₽</span>
        </p>
        <button class="btn btn--primary btn--lg btn--fill px-md-10" data-waved="light">Рассчитать <span class="d-none d-md-inline ml-1">точную стоимость</span></button>
      </div>
      <div class="price__content bg-grey w-100 py-5 px-2 py-md-8 px-md-4">
        <div class="grid ga-1 py-3 px-3 px-md-5 mb-2">
          <div class="col-7">
            <h4 class="font-alt text-14 text-md-18 text-lg-22 bold-3 fade-60">Количество участников</h4>
          </div>
          <div class="col-5">
            <h4 class="font-alt text-14 text-md-18 text-lg-22 bold-3 fade-60">Стоимость ₽/чел</h4>
          </div>
        </div>
        <div class="grid gap-1 bg-white py-3 px-3 px-md-5 mb-2">
          <div class="col-7">
            <h4 class="text-16 text-md-20 text-lg-24 bold-6">До 50</h4>
          </div>
          <div class="col-5">
            <h4 class="text-16 text-md-20 text-lg-24 bold-6">1300 – 3500</h4>
          </div>
        </div>
        <div class="price__item grid gap-1 py-3 px-3 px-md-5 mb-2">
          <div class="col-7">
            <h4 class="text-16 text-md-20 text-lg-24 bold-6">50-100</h4>
          </div>
          <div class="col-5">
            <h4 class="text-16 text-md-20 text-lg-24 bold-6">1100 - 3000</h4>
          </div>
        </div>
        <div class="grid gap-1 bg-white py-3 px-3 px-md-5 mb-2">
          <div class="col-7">
            <h4 class="text-16 text-md-20 text-lg-24 bold-6">100 - 200</h4>
          </div>
          <div class="col-5">
            <h4 class="text-16 text-md-20 text-lg-24 bold-6">1000 - 2500</h4>
          </div>
        </div>
        <div class="price__item grid gap-1 py-3 px-3 px-md-5">
          <div class="col-7">
            <h4 class="text-16 text-md-20 text-lg-24 bold-6">>200</h4>
          </div>
          <div class="col-5">
            <h4 class="text-16 text-md-20 text-lg-24 bold-6">800 – 2000</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Преимущества -->

<% var advantages = [
  [
    {
      img: '1',
      title: 'Дизайн и брендинг мероприятия'
    },
    {
      img: '4',
      title: 'Подбор площадки для мероприятия'
    },
    {
      img: '7',
      title: 'Шоу-программа'
    }
  ],
  [
    {
      img: '2',
      title: 'Фото и видео съемка'
    },
    {
      img: '5',
      title: 'Бронь отелей и размещение'
    },
    {
      img: '8',
      title: 'Декор мероприятия'
    }
  ],
  [
    {
      img: '3',
      title: 'Кейтеринг'
    },
    {
      img: '6',
      title: 'Организация трансфера'
    },
    {
      img: '9',
      title: 'Корпоративные подарки'
    }
  ]
]; %>

<section class="advantages container container--sm" data-listing="1">
  <div class="text-center text-uppercase text-16 text-md-22 text-lg-28 mb-3 ease-in duration-7 anim anim--up" data-anim="hidden">
    <h2 class="font-alt bold-6 lh-4 zoom-2">Вы также можете <span class="font-alt color-blue">заказать</span> у нас</h2>
  </div>
  <p class="text-center text-16 text-md-20 text-lg-24 bold-4 lh-2 fade-60 mb-5 mb-8 ease-in-out duration-5 anim anim--up" data-anim="hidden">
    Помимо тимбилдинга, мы можем организовать все необходимое для вашего события. <br>
    У нас есть свое ивент агентство и огромная база проверенных подрядчиков.
  </p>
  <h3 class="text-center text-uppercase text-16 text-md-20 text-lg-26 bold-6 lh-2 mb-10 ease-in-out duration-5 anim anim--up" data-anim="hidden">
    Можете доверить нам организацию под ключ
  </h3>
  <div class="advantages__gap grid gap-5 gap-lg-10">
    <% for (var i = 0; i < advantages.length; i++) { %>
      <div class="col-12 col-lg-4 <%= i == 0 ? '' : 'd-none d-md-block' %>" <%= i == 0 ? '' : 'data-listing-item' %>>
        <div class="advantages__items advantages__gap flex flex-column gap-5 gap-lg-10">
          <% for (var j = 0; j < advantages[i].length; j++) { %>
            <div class="advantages__item">
              <div class="pack mb-4" data-movement="light">
                <picture>
                  <source srcset="img/pictures/advantages-<%= advantages[i][j].img %>.webp" type="image/webp">
                  <img class="d-block w-100" src="img/pictures/advantages-<%= advantages[i][j].img %>.jpg" alt="">
                </picture>
              </div>
              <h4 class="text-18 text-lg-26 bold-5 lh-2"><%= advantages[i][j].title %></h4>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
  <button class="btn btn--black btn--lg btn--contur d-md-none mt-10 mx-auto px-10" data-listing-show data-waved="dark">Показать ещё</button>
</section>

<!-- Обратная связь -->

<section class="feedback container relative bg-grey overflow-hidden">
  <div class="feedback__bg bg-block d-none d-md-block w-lg-100 mx-auto">
    <div class="pack pack--box w-50 h-100 ml-auto linear duration-5 anim anim--increase" data-anim="hidden">
      <picture>
        <source srcset="img/pictures/firework.webp" type="image/webp">
        <img class="feedback__image image image--br" src="img/pictures/firework.png" alt="">
      </picture>
    </div>
  </div>
  <div class="feedback__bg bg-block w-lg-100 mx-auto">
    <div class="feedback__pack pack pack--rect bg-grey w-100 h-md-100" data-movement="light">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/feedback-bg.webp" type="image/webp">
        <img class="image image--rise" src="img/pictures/feedback-bg.jpg" alt="">
      </picture>
    </div>
  </div>
  <div class="feedback__content relative zi-1 bg-white overflow-hidden w-100 py-8 px-5 px-md-8 ml-auto">
    <div class="relative">
      <h2 class="font-alt text-28 text-md-36 text-lg-42 bold-6 lh-4 mb-5 mb-md-10">
        Давайте обсудим <span class="font-alt color-blue">ваш тимбилдинг</span> вместе
      </h2>
      <form class="form" data-form="submit">
        <input type="hidden" value="Главная" name="theme">
        <label class="form-label mb-6 mb-md-10" data-label="input">
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input" data-input="tel" type="tel" placeholder="Ваш телефон" name="tel">
            </div>
            <div class="form-icon form-icon--left text-24 fade-60">
              <svg class="icon">
                <use xlink:href="img/icons.svg#tel">
              </svg>
            </div>
            <span class="form-error anim anim--fade" data-error>Пожалуйста, введите ваш номер!</span>
          </div>
        </label>
        <label class="form-label mb-6 mb-md-10" data-label="input">
          <div class="form-wrapper">
            <div class="input-cover">
              <input class="input" data-input="name" type="text" placeholder="Ваше имя" name="name">
            </div>
            <div class="form-icon form-icon--left text-24 fade-60">
              <svg class="icon">
                <use xlink:href="img/icons.svg#user">
              </svg>
            </div>
            <span class="form-error anim anim--fade" data-error>Пожалуйста, введите ваше имя!</span>
          </div>
        </label>
        <p class="text-18 text-md-22 text-lg-24 bold-4 lh-1 fade-60 mb-5 mb-md-9">Как с вами связаться</p>
        <div class="flex flex-wrap align-center gap-5 gap-md-8 mb-7 mb-md-10">
          <label class="flex align-center pointer">
            <input class="switch switch--radio" type="radio" value="Telegram" name="connection">
            <span class="text-18 text-md-20 text-lg-24 bold-4 fade-60 ml-2 duration-1">Telegram</span>
          </label>
          <label class="flex align-center pointer">
            <input class="switch switch--radio" type="radio" value="WhatsApp" name="connection">
            <span class="text-18 text-md-20 text-lg-24 bold-4 fade-60 ml-2 duration-1">WhatsApp</span>
          </label>
          <label class="flex align-center pointer">
            <input class="switch switch--radio" type="radio" value="Звонок" name="connection">
            <span class="text-18 text-md-20 text-lg-24 bold-4 fade-60 ml-2 duration-1">Звонок</span>
          </label>
        </div>
        <button class="btn btn--primary btn--lg btn--fill w-max px-10 mb-5 mb-md-10" data-waved="light" type="submit">оставить заявку</button>
        <div class="link text-14 bold-4 lh-4 fade-40 w-md-max" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">Отправляя форму, Вы даете согласие на обработку Ваших персональных данных</div>
      </form>
    </div>
  </div>
</section>

<!-- Партнеры -->

<% var partners = ['1', '2', '3', '1', '2', '3']; %>

<section class="partners container overflow-hidden">
  <div class="text-center text-uppercase text-16 text-md-22 text-lg-28 mb-5 mb-md-10 ease-in duration-7 anim anim--up" data-anim="hidden">
    <h2 class="font-alt bold-6 lh-4 zoom-2">нам <span class="font-alt color-blue">доверяют</span></h2>
  </div>
  <div class="partners-slider relative color-grey ease-in-out duration-5 delay-md-3 anim anim--up" data-anim="hidden">
    <div class="swiper swiper--overwrap">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < partners.length; i++) { %>
        <div class="swiper-slide" data-theme="light">
          <div class="pack pack--rect bg-white border">
            <picture>
              <source srcset="img/pictures/partners-<%= partners[i] %>.webp" type="image/webp">
              <img class="image image--sd p-5" src="img/pictures/partners-<%= partners[i] %>.jpg" alt="">
            </picture>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <button class="swiper-button-prev btn btn--grey btn--fill d-none d-md-flex color-black" data-waved="dark">
      <svg class="icon text-14">
        <use xlink:href="img/icons.svg#arrow-left">
      </svg>
    </button>
    <button class="swiper-button-next btn btn--grey btn--fill d-none d-md-flex color-black" data-waved="dark">
      <svg class="icon text-14">
        <use xlink:href="img/icons.svg#arrow-right">
      </svg>
    </button>
  </div>
</section>

<!-- Отзывы -->

<% var reviews = [
  {
    text: 'Благодарим за проведение мероприятия для нашего мероприятия. За много лет работы в PR у меня был большой опыт работы с ивент агентствами, и к сожалению не всегда удачный. Поэтому для проведения этого мероприятия я тщательно отбирала агентство. И сейчас я уверена, что это было самым правильным решением выбрать агентство ENERGELICA. Я полной уверенностью могу сказать – им можно доверять важные события и быть спокойным.',
    title: 'Ирина Чухнина',
    subtitle: 'PR партнер СК «Неометрия»',
    img: 'img/pictures/reviews-2.svg'
  },
  {
    text: 'Выражаем огромную благодарность агентству ENERGELICA за организацию семейного дня для нашей компании . Все было выполнено четко и в сроки. Наш коллектив получил огромное удовольствие во время мероприятия. Теперь – только к вам!',
    title: 'Светлана',
    subtitle: 'Транснефть Финанс',
    img: 'img/pictures/reviews-1.svg'
  },
  {
    text: 'Благодарим за организацию нашего корпоратива в стиле квеста «Форд Боярд». Мы отлично повеселились. Весь процесс подготовки и само мероприятие прошло так, как планировалось! Мы остались очень довольны.',
    title: 'Карина Кравченко',
    subtitle: 'Руководитель «ТеплоКомплекс»',
    img: 'img/pictures/reviews-2.svg'
  },
  {
    text: 'Благодарим за проведение мероприятия для нашего мероприятия. За много лет работы в PR у меня был большой опыт работы с ивент агентствами, и к сожалению не всегда удачный. Поэтому для проведения этого мероприятия я тщательно отбирала агентство. И сейчас я уверена, что это было самым правильным решением выбрать агентство ENERGELICA. Я полной уверенностью могу сказать – им можно доверять важные события и быть спокойным.',
    title: 'Ирина Чухнина',
    subtitle: 'PR партнер СК «Неометрия»',
    img: 'img/pictures/reviews-2.svg'
  },
  {
    text: 'Выражаем огромную благодарность агентству ENERGELICA за организацию семейного дня для нашей компании . Все было выполнено четко и в сроки. Наш коллектив получил огромное удовольствие во время мероприятия. Теперь – только к вам!',
    title: 'Светлана',
    subtitle: 'Транснефть Финанс',
    img: 'img/pictures/reviews-1.svg'
  },
  {
    text: 'Благодарим за организацию нашего корпоратива в стиле квеста «Форд Боярд». Мы отлично повеселились. Весь процесс подготовки и само мероприятие прошло так, как планировалось! Мы остались очень довольны.',
    title: 'Карина Кравченко',
    subtitle: 'Руководитель «ТеплоКомплекс»',
    img: 'img/pictures/reviews-2.svg'
  }
]; %>

<section class="reviews container relative bg-grey overflow-hidden">
  <div class="reviews__bg bg-block d-none d-md-block w-lg-100 mx-auto">
    <div class="reviews__pack reviews__pack--1 pack pack--box absolute w-100 linear duration-5 anim anim--increase" data-anim="hidden">
      <picture>
        <source srcset="img/pictures/firework.webp" type="image/webp">
        <img class="reviews__image image" src="img/pictures/firework.png" alt="">
      </picture>
    </div>
    <div class="reviews__pack reviews__pack--2 pack pack--box absolute w-100 linear duration-5 anim anim--increase" data-anim="hidden">
      <picture>
        <source srcset="img/pictures/firework.webp" type="image/webp">
        <img class="image" src="img/pictures/firework.png" alt="">
      </picture>
    </div>
  </div>
  <div class="relative">
    <div class="text-center text-uppercase text-16 text-md-22 text-lg-28 mb-5 mb-md-10 ease-in duration-7 anim anim--up" data-anim="hidden">
      <h2 class="font-alt bold-6 lh-4 zoom-2">Отзывы</h2>
    </div>
    <div class="reviews-slider relative ease-in duration-7 anim anim--up" data-anim="hidden">
      <div class="swiper swiper--overwrap">
        <div class="swiper-wrapper">
          <% for (var i = 0; i < reviews.length; i++) { %>
            <div class="swiper-slide h-auto">
              <div class="card h-100 py-7 px-4 py-md-10 px-md-7">
                <div class="card-content">
                  <p class="text-16 text-md-20 text-lg-22 bold-4 lh-2 fade-80 mb-5 mb-md-10"><%= reviews[i].text %></p>
                  <div class="flex align-center justify-between gap-4 mt-auto">
                    <div class="flex flex-column">
                      <span class="text-18 text-md-22 text-lg-24 bold-5"><%= reviews[i].title %></span>
                      <span class="text-14 text-md-16 text-lg-18 bold-3"><%= reviews[i].subtitle %></span>
                    </div>
                    <img class="icon text-40" src="<%= reviews[i].img %>" alt="">
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="swiper-pagination color-primary mt-10"></div>
      <button class="swiper-button-prev btn btn--white btn--fill d-none d-md-flex color-black" data-waved="dark">
        <svg class="icon text-14">
          <use xlink:href="img/icons.svg#arrow-left">
        </svg>
      </button>
      <button class="swiper-button-next btn btn--white btn--fill d-none d-md-flex color-black" data-waved="dark">
        <svg class="icon text-14">
          <use xlink:href="img/icons.svg#arrow-right">
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- Вопросы -->

<% var questions = [
  [
    {
      item: 'bg-grey',
      title: 'Какие виды тимбилдинга вы организуете?',
      text: 'У нас есть более 70 готовых вариантов для проведения тимбилдинга. Плюс мы можем разработать тимбилдинг индивидуально под ваши задачи и тематику мероприятия. Для удобства, оставьте заявку на сайте, и наш менеджер подберет наиболее подходящую для вас программу тимбилдинга.'
    },
    {
      item: 'border',
      title: 'Зачем нужен тимбилдинг?',
      text: 'Тимбилдинг сплочает коллектив и повышает уровень мотивации сотрудников.'
    }
  ],
  [
    {
      item: 'border',
      title: 'Как заказать тимбилдинг?',
      text: 'Заказать тимбилдинг можно оставив заявку на сайте или позвонив нам по телефону <br> <a class="link bold-6" href="tel: 8-918-323-11-22">8-918-323-11-22</a>. <br><br> Мы с радостью проконсультируем вас по всем вопросам!'
    },
    {
      item: 'bg-grey',
      title: 'Вы проводите тимбилдинг только по Черноморскому побережью?',
      text: 'Большинство тимбилдингов мы организуем в Геленджике, Анапе. Но мы так же выезжаем по Краснодарскому краю.'
    }
  ],
  [
    {
      item: 'bg-grey',
      title: 'Какая стоимость организации тимбилдинга?',
      text: 'Ориентировочная стоимость указана в разделе «Стоимость». Для точного просчета нам необходимо понимать точное кол-во участников и формат тимбилдинга.'
    },
    {
      item: 'border',
      title: 'Сколько длится тимбилдинг?',
      text: 'Продолжительность тимбилдинга обычно занимает 2-4 часа.'
    },
    {
      item: 'border',
      title: 'Какой у вас налог?',
      text: 'У нас ИП, налог 8,5%'
    },
  ]
]; %>

<section class="questions container container--sm" data-listing="1">
  <div class="text-center text-uppercase text-16 text-md-22 text-lg-28 mb-5 mb-md-10 ease-in duration-7 anim anim--up" data-anim="hidden">
    <h2 class="font-alt bold-6 lh-4 zoom-2"><span class="font-alt color-blue">Частые</span> вопросы</h2>
  </div>
  <div class="grid gap-5 gap-lg-8">
    <% for (var i = 0; i < questions.length; i++) { %>
      <div class="col-12 col-lg-4 <%= i == 0 ? '' : 'd-none d-md-block' %>" <%= i == 0 ? '' : 'data-listing-item' %>>
        <div class="questions__items flex flex-column gap-5 gap-lg-8">
          <% for (var j = 0; j < questions[i].length; j++) { %>
            <div class="questions__item <%= questions[i][j].item %> color-grey w-100 py-5 px-5 py-lg-8">
              <div class="flex flex-column color-black">
                <h4 class="text-18 text-md-22 text-lg-24 bold-4 lh-2 mb-4"><%= questions[i][j].title %></h4>
                <p class="text-16 text-md-20 text-lg-22 bold-4 fade-80 lh-2"><%= questions[i][j].text %></p>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
  <button class="btn btn--black btn--lg btn--contur d-md-none mt-10 mx-auto px-10" data-listing-show data-waved="dark">Показать ещё</button>
</section>

<%= require('./includes/footer.html').default %>